//- SPDX-FileCopyrightText: Copyright (c) 2022 Alexander Noble
//-
//- SPDX-License-Identifier: AGPL-3.0-or-later

footer(style="")
  div
    h3 Dachen Classroom
    p.
      A modern student information system and learning management
      system, all in one.
    ul
      li <a href="/about.html">About</a>
    p.
      <a href="https://dachenedu.org/"><em>
        from <strong>Dachen</strong>: Liberating education for a
        freer world
      </em></a>
