//- SPDX-FileCopyrightText: Copyright (c) 2022 Alexander Noble
//-
//- SPDX-License-Identifier: AGPL-3.0-or-later

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/main.css")
    block title
      if seotitle
        title #{seotitle}
      else
        title #{title} - Dachen Classroom
    block body
      body.app
        | !{html}
        include _footer.pug
