//- SPDX-FileCopyrightText: Copyright (c) 2022 Alexander Noble
//-
//- SPDX-License-Identifier: AGPL-3.0-or-later

extends base.pug

block body
  body.docs
    //- marker
    header
      a(href="/") &leftarrow; Back to Classroom
    //- marker
    main
      h1 #{title}
      | !{html}
    include _footer.pug
