---
SPDX-FileCopyrightText: Copyright (c) 2022 Alexander Noble
SPDX-License-Identifier: AGPL-3.0-or-later
template: docs
seotitle: About - Dachen Classroom
title: About Dachen Classroom
---

-
  const fs   = require("node:fs");
  const path = require("node:path");
  const YAML = require("yaml");

ul
  li <a href="https://codeberg.org/libreedu/classroom">Source code

h2 Authors

ul
  li Alexander Noble

h2 License

p Copyright © 2022 Dachen.

p.
  Dachen Classroom is free software: you can redistribute it and/or
  modify it under the terms of the <strong>GNU Affero General Public
  License</strong> as published by the Free Software Foundation, either
  version 3 of the license, or (at your option) any later version.

p.
  Dachen Classroom is distributed in the hope that it will be useful,
  but <strong>without any warranty</strong>; without even the implied
  warranty of <strong>merchantability</strong> or <strong>fitness for a
  particular purpose</strong>. See the GNU Affero General Public License
  for more details.

p.
  Your warranty conditions may be different depending on your vendor or
  hosting provider, for example an uptime guarantee.

p.
  You should have received a copy of the GNU Affero General Public
  License along with Dachen Classroom. If not, see
  <a href="https://www.gnu.org/licenses/">https://www.gnu.org/licenses/</a>.

h2 Acknowledgements

p Dachen Classroom is made with the free software projects below:

ul
  each package of YAML.parse(fs.readFileSync("src/acknowledgements.yml", "utf8")).packages
    li
      h3 #{package.name}
      p #{package["SPDX-FileCopyrightText"]}
      details
        summary Licensed #{package["SPDX-License-Identifier"]}
        pre=fs.readFileSync(path.join("../LICENSES", package["SPDX-License-Identifier"] + '.txt'), "utf8")
