//- SPDX-FileCopyrightText: Copyright (c) 2022 Alexander Noble
//-
//- SPDX-License-Identifier: AGPL-3.0-or-later

input.switch-checkbox(type="checkbox" id="class-menu-open")
nav.top-bar
  div
    label(for="class-menu-open")
      icon.open-menu-symbolic(title="Open menu")
        | temporary label
  a#top-bar-title(href="#" role="presentation")
    h1 Dachen Classroom
nav.class-menu
  img(src="https://upload.wikimedia.org/wikipedia/commons/e/ec/Capybara_%28Hydrochoerus_hydrochaeris%29.JPG")

div#container

script(src="/js/main.js")
