// SPDX-FileCopyrightText: Copyright (c) 2022 Alexander Noble
//
// SPDX-License-Identifier: AGPL-3.0-or-later

body.docs {
  header,
  main {
    max-width: 40em;
    margin: 1em auto;
    width: 100%;
  }
  main h1:first-child {
    margin-top: 0;
  }
}
