// SPDX-FileCopyrightText: Copyright (c) 2022 Alexander Noble
//
// SPDX-License-Identifier: AGPL-3.0-or-later

@import 'cantarell.scss';
@import 'colors.scss';
@import 'docs.scss';
@import 'ui.scss';

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Cantarell', sans-serif;
  max-width: 100%;
  width: 100%;
  /* For sticky nav */
  min-height: 100vh;
  height: fit-content;
}
nav,
footer {
  a[href] {
    color: inherit;
  }
}
main,
#container {
  flex-grow: 1;
}
main {
  margin: 1em auto;
  padding: 0 1em;
  max-width: 60em;
  width: calc(100% - 2em);
}
footer {
  background-color: $color-brand;
  padding: 0;
}
footer div {
  box-sizing: border-box;
  max-width: 60em;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  ul {
    list-style: none;
  }
}

img {
  width: 100%;
  height: auto;
}
