// SPDX-FileCopyrightText: Copyright (c) 2022 Alexander Noble
//
// SPDX-License-Identifier: AGPL-3.0-or-later

.switch-checkbox {
  display: none;
}

body.app {
  nav.top-bar {
    padding: 1em;
    display: flex;
    height: 2.375em;
    gap: 1em;
    align-items: center;
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: white;
    border-bottom: 1px gray;
    box-shadow: 0 5px 25px gray;

    h1 {
      margin: 0;
      padding: 0;
      font-size: 1.75em;
    }
    h1.class-name,
    span.class-subtitle {
      margin: 0;
      padding: 0;
      font-size: 0.875em;
    }
  }
  nav.class-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: calc(100vw - 2em);
    height: 100vh;
    transition: left 0.1s ease-in-out;
    @media only screen and (min-width: 700px) {
      width: 32em !important;
    }
    overflow-x: clip;
    overflow-y: scroll;
    padding: 5.375em 1em 1em;

    background-color: white;
    border-bottom: 1px gray;
    box-shadow: 4px 0px 20px gray;
  }
  #class-menu-open:checked ~ .class-menu {
    left: 0;
  }
}

header.class-splash {
  background-color: $color-brand;
  margin: 0 0 1em;
  padding: 1em;
  width: calc(100vw - 2em);
  @media only screen and (min-width: 60em) {
    max-width: 58em;
    margin: 1em auto;
    padding: 2em;
    border-radius: 2em;
  }
  h1.class-name,
  span.class-subtitle {
    margin: 0;
  }
}
